// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 700;
	line-height: 1.5;
}

#main-menu a {
	color: $teal;
	text-transform: uppercase;
	font-size: 1.2em;
	width: 150px;
	text-align: center;
	padding: 12px;
}

.sign-in a {
	border: 2px solid $teal;
	border-radius: 5px;
}

.lead-row, .secondary-row {
	padding: 150px 10vw;
}

.lead-detail, .secondary-detail {
	font-size: 1.3em;
    color: #6A6A6A;
    margin-top: 20px;
}

.get-started-buttons {
	border-left: 10px solid $orange;
	padding: 15px;
	margin-top: 30px;
}

.get-started-buttons h2 {
	font-size: 1.5em;
	margin-top: 0;
}

.started-buttons {
	border-radius: 5px;
	font-size: 1.2em;
	width: 150px;
	text-align: center;
	padding: 15px;
	color: #fff;
	background-color: $teal;
	margin: 20px 30px 0 0;
	display: inline-block;
}

.started-buttons:hover {
	color: #fff;
}

.teacher-scene {
	background-image: url(../imgs/teacher_desk.svg);
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 300px;
}


.secondary-row {
	background-image: url(../imgs/yellow_cog.svg);
	background-repeat: no-repeat;
	background-position: 3% 10%;
	background-size: 300px;
	background-color: #FAF8F7;
}

.secondary-button {
	color: $teal;
    font-size: 1.2em;
    width: 160px;
    text-align: center;
    padding: 12px;
    border: 2px solid #2a8080;
    border-radius: 5px;
    margin: 30px 0;
    display: block;
}


#wrapper-footer {
	background-color: #000;
	color: #fff;
}

#full-width-page-wrapper {
	padding-bottom: 0;
}